<div style = "position:relative; left:33.5%; top:2px"class="logo">
  <img width="27%" height="27%" src="http://localhost:8000/storage/media/logo.png" alt="Logo" />
</div>
<br>
<div>
  <h2 style="position:relative; margin-left: 18%;margin-top: 20px;">Enter Your Email To Retrieve Your Password:</h2>
  <form style = "position:relative;margin-left: 30%;margin-top:40px" [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label style="font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif ; " for="email">Email</label>
      <input style="width:50%" id="email" type="text" formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f?.email.errors }" />
      <div *ngIf="submitted && f?.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
      <a routerLink="/login" class="btn btn-link">cancel</a>
    </div>
  </form>
</div>

